# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore files .env
D:\Informatica por mi cuenta\Java\Shortener\Shortener\src\main\java\me\xtiltedboy\token.env
